/* CSS file */

.oc-title-bar
{
	width:              397px;
	height:             20px;
	margin-left:        10px;
	margin-top:         5px;
	background-image:   url(../background/title.png);
	background-repeat:  repeat-x;
	border:             ridge 1px #999999;
	color:              #444444;
	padding-top:        2px;
	padding-left:       2px;
	font-family:        verdana;
	font-size:          1em;
}

.oc-controls 
{
    position:           absolute;
    top:                370px;
}	

.oc-videocontrols-holder
{
    width:              401px;
    height:             30px;
    background:         transparent url(../background/title.png) repeat-x center top;
    margin-left:        10px;
    border:             ridge 1px #999999;

}

.oc-videocontrols-holder td
{
    border:             0;
    padding-top:        0;
    padding-bottom:     0;
    

}

.oc-videocontrols-holder_old
{
    width:              380px;
    height:             30px;
    margin-left:        10px;
    margin-right:       0;
    margin-top:         0;
    margin-bottom:      0;
    padding:            0;
    background:         transparent url(../background/title.png) repeat-x center top;
    border:             ridge 1px #999999;
}
                        
.oc-timeline_old
{
    width:              33%;
    height:             100%;
    display:            table-cell;
    vertical-align:     middle;
    color:              #444444; 
    font-family:        verdana;
    font-size:          0.8em;
    float:              left;
}

.oc-volume
{
    width:              33%;
    height:             100%;
    display:            table-cell;
    vertical-align:     middle;
    float:              right;
}

.oc-btn-volume-high
{
    overflow: hidden;
    width:              16px;
    height:             16px;
    border:             0;
    margin:             0;
    background:         transparent url(../icons/volumehigh.png) no-repeat center top;
    text-indent:        -1000em;
    cursor:             pointer; /* hand-shaped cursor */
    cursor:             hand; /* for IE 5.x */
}

.oc-btn-volume-low
{
    overflow: hidden;
    width:              16px;
    height:             16px;
    border:             0;
    margin:             0;
    background:         transparent url(../icons/volumelow.png) no-repeat center top;
    text-indent:        -1000em;
    cursor:             pointer; /* hand-shaped cursor */
    cursor:             hand; /* for IE 5.x */
}

.oc-btn-volume-mute
{
    overflow: hidden;
    width:              16px;
    height:             16px;
    border:             0;
    margin:             0;
    background:         transparent url(../icons/volumemute.png) no-repeat center top;
    text-indent:        -1000em;
    cursor:             pointer; /* hand-shaped cursor */
    cursor:             hand; /* for IE 5.x */
}

#slider
{
	width:              399px;
	margin-left:        10px;
	margin-bottom:      10px;
}

.oc-volume-slider
{
	display:            inline-block;
	width:              70px;
	margin-left:        5px;
	margin-right:       5px;
}

.oc-btn-cc-off
{
    overflow: hidden;
    width:              16px;
    height:             16px;
    margin:             0;
    border:             0;
    background:         transparent url(../icons/cc_off.png) no-repeat center top;
    text-indent:        -1000em;
    cursor:             pointer; /* hand-shaped cursor */
    cursor:             hand; /* for IE 5.x */
}

.oc-btn-cc-on
{
    overflow: hidden;
    width:              16px;
    height:             16px;
    margin:             0;
    border:             0;
    background:         transparent url(../icons/cc_on.png) no-repeat center top;
    text-indent:        -1000em;
    cursor:             pointer; /* hand-shaped cursor */
    cursor:             hand; /* for IE 5.x */
}

#info
{
    margin-left:        10px; 
    margin-right:       10px; 
    margin-top:         70px;
}

#oc-video-display-container
{
    margin:             10px;
    margin-bottom:      0px;
    margin-left:        10px;
}

.overflow-hidden {
    overflow: hidden;
}

.btn_skip_backward
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/skipbackward.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_skip_backward_over
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/skipbackwardover.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_skip_backward_out
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/skipbackward.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_rewind
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/rewind.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_rewind_over
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/rewindover.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_rewind_out
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/rewind.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_play
{
  overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/play.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_play_over
{
  overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/playover.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_play_out
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/play.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_pause
{
  overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/pause.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_pause_over
{
  overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/pauseover.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_pause_out
{
  overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/pause.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_fast_forward
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/fastforward.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_fastForward_over
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/fastforwardover.png) no-repeat center top;
  text-indent:          -1000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_fastForward_out
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/fastforward.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_skip_forward
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/skipforward.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_skip_forward_over
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/skipforwardover.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

.btn_skip_forward_out
{
    overflow: hidden;
  width:                16px;
  height:               16px;
  margin:               0;
  border:               0;
  background:           transparent url(../icons/skipforward.png) no-repeat center top;
  text-indent:          -5000em;
  cursor:               pointer; /* hand-shaped cursor */
  cursor:               hand; /* for IE 5.x */
}

          
#simpleEdit .inlineEdit-invitation 
{
  border:               0px solid blue;
  background:           transparent;
  color:                blue;
  padding:              0;
  margin:               0;
}

#editField 
{
  width:                40px;
  border:               0;
  color:                #999;
  padding-top:          2px;
  padding-bottom:       2px;
  margin:               0;
}

#captions {
    position: absolute;
    top:420px;
    list-style-type:none;
}

#captions li {
    list-style-type:none;
}
