.matterhorn-progress-bar
{
  border:1px solid #D3D3D3;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(255, 0, 0);
}

.matterhorn-slide
{
  border:1px solid #000000;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:40;
  left:0;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(0, 255, 0);
}

.matterhorn-slide2
{
  border:1px solid #000000;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:20;
  left:40;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(0, 100, 0);
}

.matterhorn-slide3
{
  border:1px solid #000000;
  color:#555555;
  font-weight:normal;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  
  width:30;
  left:60;
  display: inline; 
  position: absolute; 
  height: 0.7em; 
  word-spacing: 1px;
  background-color: rgb(0, 130, 0);
}
