body
{
  text-align:center;
}

.oc-holder {
  text-align: left; 
  margin: 0 auto;
  width:980px;
}

.oc-search-bar-holder {
  position:relative;
}

.oc-search-bar {
  position:absolute;
  top: 0;
  right: 0;
}

.oc-search-result-holder {
  position:relative;
}

.oc-search-result-header{
  position:relative;
}

.oc-sort-controls {
  position:absolute;
  top: 0;
  right: 0;
}

.oc-search-result-item{
  margin-top:5px;
  width:100%;
  position:relative;
  background-color: #EEEEEE;
  padding:0px;
}

div.table-row {
  padding:0;
  height:80;
  width:100%;
}

div.left-container13 {
  text-align:center;
  background-color: #FFAAFF;
  float:left;
  border:0;
  margin:0;
  padding:0;
  width:100;
}

div.left-container23 {
  float:left;
  border:0;
  margin:0;
  padding:0;
  width:700;
  background-color: #FFFFDD;
}

div.left-container33 {
  
  float:left;
  text-align: right;
  border:0;
  margin:0;
  padding:0;
  width:180;
  background-color: #FFDDDD;
}

div.right-container13 {
  border:none;
  text-align: right; 
  float:right;
  margin:0;
  padding:0;
  width:180;
  background-color: #FFDDDD;
}

.oc-pager{
  text-align:center;
  margin-top:5px;
  width:100%;
  position:relative;
  background-color: #DDDDDD;
}
