/* 
    Document   : admin
    Created on : Nov 6, 2009, 4:43:48 PM
    Author     : wulff
*/

body {
    padding-left: 30px;
    padding-right:30px;
}

.wu-tab-content {
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    padding: 12px;
}

.force-space-12px {
    float:left;
    width:12px;
    height:12px;
    background:red;
}

.icon {
    width:16px;
    height:16px;
    background-repeat: none;
    background-position: center center;
    float: left;
}

.icon-check {
    background-image: url(../img/tick.png);
}

.icon-add {
    background-image: url(../img/add.png);
}

.icon-idle {
    background-image: url(../img/cup.png);
}

.icon-capturing {
    background-image: url(../img/camera.png);
}

#category-selector-container {float:left;width:auto;}
.category-selector {}
.category-selector li {float:left;list-style:none;}
.category-selector-item {}
.category-selector-spacer {margin-left:5px; margin-right:5px;}
.category-selector-item-disabled {color:gray;}

#add-buttons-container {
    float:right;
}

#recordings-table-container {
    background:green;
    margin-top:40px; 
}
