/* form box */

.form-box-group {
  margin: 0;
  padding: 0;
}

.form-box-group li {
  /* Stipulate the height of each item so that 
   vertical return = items * height */
  
  line-height: 1.2em;
  
  /* Clear the default margins & padding 
   so we can style the list from scratch */
  
  margin: 0;
  padding: 0;
}

.form-box-group .column1 {
  margin-left: 0;
}

.form-box-group .column2 {
  margin-left: 15em;
}

/* Bring the first item of each column 
 back up to the level of item 1.
 Vertical return = items * height.
 eg, 5 items * 1.2em line-height = 6em */

.form-box-group .reset
{
  margin-top: -2.4em;
}

/* Event View */

.notification-header {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #7f7;
  text-align: center;
  font-weight: bold;
}

.data-row {
  width:100%;
  margin-bottom:1em;
  display:none;
}

.data-label {
  width:150px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.data-value {
  margin-left: 1em;
  display: inline-block;
  width: 550px;
  overflow: hidden;
}

.expand-detail {
  width: 620px;
  display: inline-block;
}

.detail-show {
  height: inherit;
}

.detail-hide {
  height: 1.2em;
}

.detail-switch {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: blue;
}