/* 
    Document   : admin
    Created on : Nov 6, 2009, 4:43:48 PM
    Author     : wulff
*/
body {
    padding-left: 20px;
    padding-right:20px;
    font-size: 1.15em;
}

body:focus {
   outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

th {
  border: 0px;
}

td {
  border: 0px;
}

select { font-size:1.15em; }

.wu-tab-content {
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    padding: 12px;
}

.force-space-12px {
    float:left;
    width:12px;
    height:12px;
    background:red;
}

/* Icons */

.icon {
    width:16px;
    height:16px;
    background-repeat: none;
    background-position: center center;
    float: left;
    margin-right: 10px;
}

.icon-check {
    background-image: url(../shared_img/icons/tick.png);
}

.icon-error {
    background-image: url(../shared_img/icons/exclamation.png);
}

.icon-info {
    background-image: url(../shared_img/icons/information.png);
}

.icon-running {
    background-image: url(../shared_img/icons/cog.png);
}

.icon-add {
    background-image: url(../shared_img/icons/add.png);
}

.icon-delete {
    background-image: url(../shared_img/icons/delete.png);
}

.icon-idle {
    background-image: url(../shared_img/icons/cup.png);
}

.icon-capturing {
    background-image: url(../shared_img/icons/camera.png);
}

.icon-arrow-right {
  background-image: url(../shared_img/icons/arrow-right.png);
  background-position: 0 0;
}

.icon-arrow-down {
  background-image: url(../shared_img/icons/arrow-down.png);
  background-position: 0 0;
}

.icon-help {
  background-image: url(../shared_img/icons/help.png);
  background-position: 0 0;
  vertical-align: top;
}

.icon-bullet {
  background-image: url(../shared_img/icons/bullet-arrow.png);
  background-position: 0 0;
}

.inline-icon {
  display: inline-block;
}

.loadingAnimation {
  background-image:url(../shared_img/loading.gif);
  background-position: center;
  background-repeat:no-repeat;
  height:40px;
  width:100%;
}

.progressbar {  /* q&d: to be removed after 0.5 */
  background-image:url(../shared_img/loading.gif);
  background-position: center;
  background-repeat:no-repeat;
  height:40px;
  width:240px;
}
/* folding widget */

.folder-head {
  cursor: pointer;
  background-color: silver;
  margin-bottom: 0px;
}

.folder-icon {
  float: left;
}

.folder-content {
  display: none;
}

/* form-box */

.form-box-container {
  border: 0;
}

.form-box-title {
  background-color: silver;
  padding-left: 0.5em;
}

/* Form Fields */

.instruction-text {
  font-size:0.9em;
}

.mouseover-pointer {
  cursor: pointer;
}

.disable-label {
  color: gray;
}

.form-field {
  width: 450px !important;
}

.form-list{
  margin-left: 1em;
}

.form-list li {
  clear: both;
  margin-bottom: 4px;
  padding: 3px;
  overflow: hidden;
}

.form-list label {
  font-weight: normal;
}
/* Notifications */
/*
.notification-header {
  border: 1px solid black;
  background: lightgreen;
  width:430px;
  text-align:center;
  margin-bottom:2em;
  margin-left: auto;
  margin-right: auto;
}*/

.warnbox-title {
  background:#FA5858;
  padding-left: 1.2em;
}

.warnbox-content {
  border:1px solid #FA5858;
}

.warnbox-content ul li {
  list-style-type: none;
}

.error {
  color: red;
}

.hidden {
  display: none !important;
}

.date-start { display: none; }
.date-end {display: none; }

#category-selector-container {float:left;width:auto;margin:10px 0px 10px 10px;outline:none}
.category-selector {margin:0px;margin-bottom:10px;outline:none}
.category-selector li {float:left;list-style:none;outline:none}
.category-selector-item {}
.category-selector-spacer {margin-left:5px; margin-right:5px;outline:none}
.category-selector-item-disabled {color:gray;outline:none}


.state-selector {color:blue;}
.state-selector-active {color:black;text-decoration:none !important;font-weight:bold;cursor:default;}

#add-buttons-container {
    float:right;
    margin-bottom: 20px;
}

#recordings-table-container {
    background:white;
    /*margin-top:50px;*/
}

#recordings-table-container {
    background:white;
    /*margin-top:50px;*/
}

#agentsTable th {
  padding-right:20px;
  background-color: #98BBBA !important;
}

#recordingsTable th {
  padding-right:20px;
  background-color: #98BBBA !important;
}

#stage {
    background:white;
    padding-left: 12px; /**/
}

#stage li { /**/
  overflow: hidden;
}

#holdActionPanel-container {
  display:none;
  background:white;
  /*height:400px;*/
  width:600px;
  z-index:100;
  position:absolute;
  top:100px;
  left:100px;
  border:1px solid silver;
}

#holdActionPanel-iframe {
  border:none;
  width:100%;
}

#workflow-config-container {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 2%;
}

#gray-out {
  display:none;
  z-index:100;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:gray;
  opacity:0.4;
  filter:alpha(opacity=40);
}

#upload-notification {
  display:none;
  background:white;
  border:1px solid black;
  z-index:200;
  position:absolute;
  top:220px;
  left:330px;
  width:240px;
}

.sortable {
  cursor:pointer;
  /*background-image:url(../shared_img/icons/bg.gif);*/
  background-position: center right;
  background-repeat:no-repeat;
}

.sortable-Ascending {
  cursor:pointer;
  background-image:url(../shared_img/icons/asc.gif);
  background-position: center right;
  background-repeat:no-repeat;
}

.sortable-Descending {
  cursor:pointer;
  background-image:url(../shared_img/icons/desc.gif);
  background-position: center right;
  background-repeat:no-repeat;
}

.highlightable:hover{
  background-color: #f8eee8;
}

.clickable {
  cursor:pointer;
  text-decoration: none;
}
span.clickable {
  color: #A72123;
}

.clickable:hover {
  cursor:pointer;
  text-decoration:underline;
}

.control-button {
  padding-top:3px;
  padding-bottom:3px;
  padding-left:5px;
  padding-right:5px;
}

/* Paging Navigation */
.paging-nav-container {
  float:right;
}

.paging-font {
  font-size: 0.8em;
}

.paging-nav-goto {
  width:50px;
}

.paging-nav-mocklink {
  color: gray;
  font-weight: bold;
}

/* Refresh controls and text */
.refresh-text-enabled {
 color: black;
}

.refresh-text-disabled {
  color: gray;
}

/* Fluid Skinning System Overrides */

.fl-theme-coal h1 {
  color: #F6921E !important;
  border: none !important;
}

h1 {
  color: #F6921E !important;
  border: none !important;
}

.fl-widget .fl-widget-content {
  margin: 0px;
}

.fl-controls-right .fl-label {
  width: 30%;
}

.fl-activeTab {
  background-color: white !important;
}

.fl-activeTab a {
  background-color: white !important;
  border-bottom-color: white !important;
}

.fl-activeTab a:hover {
  background-color: #ddd !important;
  border-bottom-color: #ddd !important;
}

.fl-theme-coal .fl-widget {
  border: 1px solid #000000;
  padding: 0px;
}

.fl-theme-coal .fl-icon {
  background-color: inherit;
  display: inline-block;
}

fieldset {
  border: 1px solid gray;
}

.color-red {color:red;}

.recording-upcoming {
    background-image: url(../shared_img/icons/clock.png);
}

.recording-capturing {
    background-image: url(../shared_img/icons/webcam.png);
}

.recording-processing {
    background-image: url(../shared_img/icons/server_compressed.png);
}

.recording-finished {
    background-image: url(../shared_img/icons/television.png);
}

.recording-hold {
    background-image: url(../shared_img/icons/server_edit.png);
}

.recording-failed {
    background-image: url(../shared_img/icons/cross.png);
}
.iconCell {
    display: table-cell;
    padding-right: 5px;
}

.statusCell {
    display: table-cell;
}


#oc_tabs {
    margin-right:10px;
    background-color: #2D8F8B !important;
}
a.oc_tabs {
    background-color: #2D8F8B !important;
}

a.oc_tabs-active {
    color: #2D8F8B !important;
}

.fl-tabs-left {
    padding-left:130px !important;
}

#oc_recordingmenu {
     overflow: hidden !important;
}
