body {
	padding-top: 20px;
}
a {
	 cursor: pointer;
}

#pageHeader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 20px;
	font-size: 0.8em;
	color: #FFF;
	background-color: #A72123;
	text-align:left;
}

#pageHeader div {
	display: inline-block;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
}

#skip {
	position: absolute;
	width: 80%;
	top: -300px;
	left: 0;
}

#skip a {
	position: absolute;
	top: 0;
}

.oc_headerRow {
    margin-top: 7px;
    padding:0 20px 5px 20px;
}

.oc_headerLink {
    color:#F6921E;
    text-decoration: none;
}
.mh-logo {
    float:left;
    display:table-cell;
}

.mh-heading {
    display:table-cell;
    float:left;
    padding-left:25px;
}

.oc-logo {
    float:right;
    display:table-cell;
}
