/* Recordings Page Layout/Styles */
.recordings-categories {
  margin: 8px 0 0 0;
}

.recordings-categories li {
  display: inline-block;
}

.recordings-categories .recordings-first-item {
  border: 0;
}

.recordings-category {
  padding: 2px 8px;
  border-left: 1px solid #CCCCCC;
  font-weight: bold;
  color: #666666;
}

.recordings-category:hover {
  color: #A72123;
}

.recordings-category-active {
  color: #2D8F8B;
}

.recordings-category-spacer {
  width: 3em;
}

.recordings-info-box {
  width: 900px;
  text-align: center;
  padding: 10px 0;
  display: none;
}

.recordings-info-box div {
  display: none;
}

.recordings-button-container {
  padding-top: 3px;
}

.recordings-table {
  margin-top: 8px;
}

.recordings-hold-state-frame {
  display:none;
  background:white;
  position:relative;
  clear:both;
}

.hidden {
  display:none;
}

#holdActionPanelIframe {
  border: medium none;
  width: 100%;
}