/* Statistics Page Layout/Styles */

.statistics-categories {
  margin: 8px 0 0 0;
}

.statistics-categories li {
  display: inline-block;
}

.statistics-categories .statistics-first-item {
  border: 0;
}

.statistics-category {
  padding: 2px 8px;
  border-left: 1px solid #CCCCCC;
  font-weight: bold;
  color: #666666;
}

.statistics-category:hover {
  color: #A72123;
}

.statistics-category-active {
  color: #2D8F8B;
}

.statistics-category-spacer {
  width: 3em;
}

.statistics-info-box {
  width: 900px;
  text-align: center;
  padding: 10px 0;
  display: none;
}

.statistics-info-box div {
  display: none;
}

.statistics-button-container {
}

.statistics-table-head {
  text-align: left;
  font-weight: normal;
}

.statistics-table-head a {
  color: #666666;
}

.statistics-table {
  margin-top: 8px;
}

.hidden {
  display:none;
}

.statistics-selection-column {
  text-align: center;
}