.oc-controls-tmp {
  position: relative;
  top: 400px;
}

.oc-embed {
  border: 1px dotted rgb(80, 80, 80);
  background: rgb(226, 226, 226) none repeat scroll 0% 0%;
  font-family: Verdana, Helvetica;
  font-size: 11px;
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-inline-policy: continuous;
  width: 400px;
  height: 80px;
  "
}

.oc-segment-table { 
  border-style:none;
  border:0px;
  margin:0px;
}

.oc-segment-td { 
  border-style:none;
}

.oc-segments { 
  position:relative; 
}

.oc-segments-holder
 {
  overflow-x:scroll;
  overflow-y:hidden;
  border:1px;
  border-style:solid;
 }