
/*.helpbox {
    position:absolute;
    border: 1px solid black;
    background: #CCFFFF;
    padding: 5px;
    padding-top:7px;
    max-width:30em;
    min-width:5em;
}*/

.helpbox {
    position:absolute;
    z-index:10;
    padding: 5px;
    padding-top:7px;
    max-width:30em;
    min-width:5em;display:none;
    background: #CCFFFF;
    border: 1px solid gray;
}

.closeButton {
    position:absolute;
    right:3px;
    top:3px;
}

